<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Marc Fontenelle - Artiste, Sculpteur - Projets"
		/>
		<meta name="author" content="MF" />
		<link rel="icon" type="image/png" href="../assets/images/favicon.png" />
		<link rel="stylesheet" href="../assets/css/reset.css" />
		<link rel="stylesheet" href="../assets/css/style.css" />

		<script src="../assets/js/index.js"></script>

		<title>Marc Fontenelle - Projets</title>
	</head>
	<body>
		<div class="menu-left" id="menu-left">
			<div class="container content">
				<header>
					<a href="../index.html" class="logo">
						<img src="../assets/images/logo.svg" alt="Logo Marc Fontenelle" />
					</a>
					<nav>
						<ul>
							<li><a href="./about.html">à propos</a></li>
							<li><a href="./works.html">Projets</a></li>
							<li><a href="./contact.html">Contact</a></li>
							<li><a href="./archives.html">Archives</a></li>
						</ul>
					</nav>
				</header>

				<div class="container-foot-mobile">
					<div class="block-prefooter">
						<div class="first-block">
							<div class="first-block__block-top">
								<div class="first-block__block-top__first">
									Vous avez un projet ?<span>Parlons-en</span>
								</div>
								<!-- <div class="first-block__block-top__second">
								Send me<span>A message</span>
							</div> -->
							</div>
							<div class="first-block__block-mail">
								marc.fontenelle.pro@gmail.com
							</div>
						</div>
						<!-- <img
						class="prefooter-arrowtop"
						id="scrollTop"
						src="./assets/images/arrow-down.svg"
						alt=""
					/> -->
					</div>
					<footer>
						<nav>
							<ul class="nav-gauche">
								<li>
									<a
										target="_blank"
										href="https://www.instagram.com/marcfontenelle/"
										>Instagram</a
									>
								</li>
								<li>
									<a
										target="_blank"
										href="https://fr.linkedin.com/in/marc-fontenelle-15b6475a"
										>Linkedin</a
									>
								</li>
							</ul>
						</nav>
						<p class="copyright">
							©<span id="yearDisplay2"></span> – All rights reserved – MARC
							FONTENELLE
						</p>
					</footer>
				</div>
			</div>
		</div>
		<!-- /menu left -->
		<div class="container">
			<div class="intro-container">
				<header>
					<a href="../index.html" class="logo">
						<img src="../assets/images/logo.svg" alt="Logo Marc Fontenelle" />
					</a>

					<nav>
						<ul>
							<li><a href="./about.html">à propos</a></li>
							<li><a href="./works.html">Projets</a></li>
							<li><a href="./contact.html">Contact</a></li>
							<li><a href="./archives.html">Archives</a></li>
						</ul>
					</nav>
				</header>

				<div class="burger-container" id="burger-container">
					<span id="menu-open" class="active"></span>
					<span id="menu-close"></span>
					<div class="burger2 menu" id="burger">
						<div class="icon"></div>
					</div>
				</div>
			</div>
			<!-- /intro-container -->
			<div class="works-container">
				<div class="title-cat no-margin" id="works">Projets</div>
				<div class="works">
					<!-- <div class="works__left">
						<a href="./projets/deluxe-rose-&-bleue.html"
							><img
								src="../assets/images/previews/preview_deluxe-rose-&-bleue.jpg"
								alt=""
						/></a>

						<div class="works__title">DELUXE</div>
						<div class="works__desc">Category - 2020</div>
					</div> -->
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/lausanne-jardin.html"
								><img
									src="../assets/images/previews/preview_lausanne-jardin.jpg"
									alt="Lausanne Jardin"
							/></a>
						</div>
						<div class="works__title">Lausanne Jardin</div>
						<div class="works__desc">Course de légumes - 2004</div>
					</div>
					<div class="works__right">
						<div class="wrapper special">
							<a href="./projets/le-flipot.html"
								><img
									src="../assets/images/previews/preview_le-flipot.jpg"
									alt="LE FLIPOT"
							/></a>
						</div>
						<div class="works__title">LE FLIPOT</div>
						<div class="works__desc">Sculpture - 2005</div>
					</div>
				</div>

				<div class="works decal mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/le-jardinier.html">
								<img
									src="../assets/images/previews/preview_le-jardinier-l-artiste-&-l-ingenieur.jpg"
									alt="Le Jardinier, l’Artiste & l’Ingénieur"
							/></a>
						</div>
						<div class="works__title">
							Le Jardinier, l’Artiste & l’Ingénieur
						</div>
						<div class="works__desc">Grès émaillé - 2001</div>
					</div>
					<div class="works__right">
						<div class="wrapper">
							<a href="./projets/fontaine-mairie-de-mauregard.html">
								<img
									src="../assets/images/previews/preview_fontaine-mauregard.jpg"
									alt="Aménagement des bassins & abords pour pièces d’eau"
							/></a>
						</div>
						<div class="works__title">
							Aménagement des bassins & abords pour pièces d’eau
						</div>
						<div class="works__desc">Maitrise d’oeuvre - 2007</div>
					</div>
				</div>

				<div class="works mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/skolem.html">
								<img
									src="../assets/images/previews/preview_skolem.jpg"
									alt="Skolem"
								/>
							</a>
						</div>
						<div class="works__title">Skolem</div>
						<div class="works__desc">Sculpture en bronze - 2007</div>
					</div>
					<div class="works__right">
						<div class="wrapper special">
							<a href="./projets/bouche-oreille.html">
								<img
									src="../assets/images/previews/preview_bouche-oreille.jpg"
									alt="Bouche oreille"
								/>
							</a>
						</div>
						<div class="works__title">Bouche oreille</div>
						<div class="works__desc">Sculpture - 2004</div>
					</div>
				</div>

				<div class="works decal mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/disque-double.html">
								<img
									src="../assets/images/previews/preview_disque-double.jpg"
									alt="Disque Double"
								/>
							</a>
						</div>
						<div class="works__title">Disque Double</div>
						<div class="works__desc">
							Faïence émaillée OR rouge 18 carats - 2002
						</div>
					</div>
					<div class="works__right">
						<div class="wrapper">
							<a href="./projets/sans-titre.html">
								<img
									src="../assets/images/previews/preview_sans-titre.jpg"
									alt="Sans titre"
							/></a>
						</div>
						<div class="works__title">Sans titre</div>
						<div class="works__desc">Faïence émaillée émeraude - 2004</div>
					</div>
				</div>

				<div class="works mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/deluxe-rose-&-bleue.html">
								<img
									src="../assets/images/previews/preview_deluxe-rose-&-bleue.jpg"
									alt="Deluxe Rose & Bleue"
								/>
							</a>
						</div>
						<div class="works__title">Deluxe Rose & Bleue</div>
						<div class="works__desc">Briques émaillées montées - 2012</div>
					</div>
					<div class="works__right">
						<div class="wrapper special">
							<a href="./projets/lumps-bumps-and-windy-too.html">
								<img
									src="../assets/images/previews/preview_lumps-bumps-and-windy-too.jpg"
									alt="Lumps Bumps and Windy Too"
								/>
							</a>
						</div>
						<div class="works__title">Lumps Bumps and Windy Too</div>
						<div class="works__desc">Installation - 2005</div>
					</div>
				</div>

				<div class="works decal mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/jardinière.html">
								<img
									src="../assets/images/previews/preview_jardiniere.jpg"
									alt="Jardinière"
								/>
							</a>
						</div>
						<div class="works__title">Jardinière</div>
						<div class="works__desc">Projet maquette - 2015</div>
					</div>
					<div class="works__right">
						<div class="wrapper">
							<a href="./projets/palme-jetfin-&-porte-palme.html">
								<img
									src="../assets/images/previews/preview_palme-jetfin-&-porte-palme.jpg"
									alt="Palme Jetfin & porte palme"
							/></a>
						</div>
						<div class="works__title">Palme Jetfin & porte palme</div>
						<div class="works__desc">Sculpture Céramique/Faïence - 2003</div>
					</div>
				</div>

				<div class="works mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/pet-&-troll.html">
								<img
									src="../assets/images/previews/preview_pet-&-troll.jpg"
									alt="Pet & Troll"
								/>
							</a>
						</div>
						<div class="works__title">Pet & Troll</div>
						<div class="works__desc">
							Biennale internationale d’Anglet - 2007
						</div>
					</div>
					<div class="works__right">
						<div class="wrapper special">
							<a href="./projets/sculpture-portable.html">
								<img
									src="../assets/images/works/sculpture-portable/sculpture-portable.jpg"
									alt="Sculpture portable"
								/>
							</a>
						</div>
						<div class="works__title">Sculpture portable</div>
						<div class="works__desc">Faïence émaillée céladon - 2003</div>
					</div>
				</div>

				<div class="works decal mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/sculpture-porcelaine.html">
								<img
									src="../assets/images/previews/preview_sculpture-porcelaine.jpg"
									alt="Sculpture Porcelaine"
								/>
							</a>
						</div>
						<div class="works__title">Sculpture Porcelaine</div>
						<div class="works__desc">Porcelaine - 2005</div>
					</div>
					<div class="works__right">
						<div class="wrapper">
							<a href="./projets/gaufrier.html">
								<img
									src="../assets/images/previews/preview_gaufrier.jpg"
									alt="Gaufrier"
								/>
							</a>
						</div>
						<div class="works__title">Gaufrier</div>
						<div class="works__desc">Fer à béton & mortier - 2009</div>
					</div>
				</div>

				<div class="works mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/mairie-beganne.html">
								<img
									src="../assets/images/previews/preview_mairie-beganne.jpg"
									alt="Aménagement paysager"
							/></a>
						</div>
						<div class="works__title">Aménagement paysager</div>
						<div class="works__desc">Oeuvre in-situ - 2004</div>
					</div>
					<div class="works__right">
						<div class="wrapper special">
							<a href="./projets/pense-bête.html">
								<img
									src="../assets/images/previews/preview_pense-bete.jpg"
									alt="Pense bête"
								/>
							</a>
						</div>
						<div class="works__title">Pense bête</div>
						<div class="works__desc">Exposition de groupe - 2012</div>
					</div>
				</div>

				<div class="works decal mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/cod.html">
								<img
									src="../assets/images/previews/preview_cod.jpg"
									alt="C.O.D & une transaction dans l’espace, l’espace d’une transaction"
								/>
							</a>
						</div>
						<div class="works__title">
							C.O.D & une transaction dans l’espace, l’espace d’une transaction
						</div>
						<div class="works__desc">Exposition Agence Immobiliere - 2004</div>
					</div>
					<div class="works__right">
						<div class="wrapper">
							<a href="./projets/étagère.html">
								<img
									src="../assets/images/previews/preview_etagere.jpg"
									alt="étagère"
							/></a>
						</div>
						<div class="works__title">étagère</div>
						<div class="works__desc">Bois, métal - 2018</div>
					</div>
				</div>

				<div class="works mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/jet-fin.html">
								<img
									src="../assets/images/previews/preview_jet-fin.jpg"
									alt="Jet-fin"
								/>
							</a>
						</div>
						<div class="works__title">Jet-fin</div>
						<div class="works__desc">Photo - 2015</div>
					</div>
					<div class="works__right">
						<div class="wrapper special">
							<a href="./projets/occupation-des-sols.html">
								<img
									src="../assets/images/previews/preview_occupation-des-sols.jpg"
									alt="Occupation des sols"
								/>
							</a>
						</div>
						<div class="works__title">Occupation des sols</div>
						<div class="works__desc">Résidence d’artistes - 2014</div>
					</div>
				</div>

				<div class="works decal mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/sculpture-faïence.html">
								<img
									src="../assets/images/previews/preview_sculpture-faïence.jpg"
									alt="Sculpture Faïence"
							/></a>
						</div>
						<div class="works__title">Sculpture Faïence</div>
						<div class="works__desc">Faïence - 2005</div>
					</div>
					<div class="works__right">
						<div class="wrapper">
							<a
								href="./projets/espaces-combinés-turbibulle-&-turbo-mollo.html"
							>
								<img
									src="../assets/images/previews/preview_turbibulle.jpg"
									alt="Espaces combinés, Turbibulle & Turbo-mollo"
							/></a>
						</div>
						<div class="works__title">
							Espaces combinés, Turbibulle & Turbo-mollo
						</div>
						<div class="works__desc">Sculptures - 2008</div>
					</div>
				</div>

				<div class="works mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/volume-en-briques.html">
								<img
									src="../assets/images/previews/preview_volume-en-briques.jpg"
									alt="Volume en briques"
								/>
							</a>
						</div>
						<div class="works__title">Volume en briques</div>
						<div class="works__desc">Briques & résine époxy - 2011</div>
					</div>
					<div class="works__right">
						<div class="wrapper special">
							<a href="./projets/os.html">
								<img
									src="../assets/images/previews/preview_os.jpg"
									alt="Os de sanglier"
								/>
							</a>
						</div>
						<div class="works__title">Os</div>
						<div class="works__desc">Filletages & écrous - 2021</div>
					</div>
				</div>

				<div class="works decal mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/polyplac-&-velamen.html">
								<img
									src="../assets/images/previews/preview_polyplac-&-velamen.jpg"
									alt="Polyplac & Velamen"
							/></a>
						</div>
						<div class="works__title">Polyplac & Velamen</div>
						<div class="works__desc">
							Contreplaqué découpé, cire d’abeille - 2020
						</div>
					</div>
					<div class="works__right">
						<div class="wrapper">
							<a href="./projets/mémo-calendar.html">
								<img
									src="../assets/images/previews/preview_memo-calendar.jpg"
									alt="Mémo calendar"
							/></a>
						</div>
						<div class="works__title">Mémo calendar</div>
						<div class="works__desc">
							Chêne, calendrier, filetages, écrous - 2020
						</div>
					</div>
				</div>

				<div class="works mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/bat.html">
								<img
									src="../assets/images/previews/preview_bat.jpg"
									alt="Bat"
								/>
							</a>
						</div>
						<div class="works__title">Bat</div>
						<div class="works__desc">Bois, filetages, écrous - 2021</div>
					</div>
					<div class="works__right">
						<div class="wrapper special">
							<a href="./projets/wing.html">
								<img
									src="../assets/images/previews/preview_wing.jpg"
									alt="Wing"
								/>
							</a>
						</div>
						<div class="works__title">Wing</div>
						<div class="works__desc">
							Contreplaqué, découpé, filetage - 2020
						</div>
					</div>
				</div>

				<div class="works decal mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/phenemenon.html">
								<img
									src="../assets/images/previews/preview_phenemenon.jpg"
									alt="Phenemenon"
							/></a>
						</div>
						<div class="works__title">Phenemenon</div>
						<div class="works__desc">Dessin encre & stylo - 2020</div>
					</div>
					<div class="works__right">
						<div class="wrapper">
							<a href="./projets/disque.html">
								<img
									src="../assets/images/previews/preview_disque.jpg"
									alt="Disque"
							/></a>
						</div>
						<div class="works__title">Disque</div>
						<div class="works__desc">Dessin encre et résine époxy - 2020</div>
					</div>
				</div>

				<div class="works mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/toupille.html">
								<img
									src="../assets/images/previews/preview_toupille.jpg"
									alt="Toupille"
								/>
							</a>
						</div>
						<div class="works__title">Toupille</div>
						<div class="works__desc">Dessin, aquarelle - 2021</div>
					</div>
					<div class="works__right">
						<div class="wrapper special">
							<a href="./projets/knights.html">
								<img
									src="../assets/images/previews/preview_knights.jpg"
									alt="Knights"
								/>
							</a>
						</div>
						<div class="works__title">Knights</div>
						<div class="works__desc">Dessin crayon gommé - 2020</div>
					</div>
				</div>

				<div class="works decal mt">
					<div class="works__left">
						<div class="wrapper">
							<a href="./projets/organe.html">
								<img
									src="../assets/images/previews/preview_organe.jpg"
									alt="Organe"
							/></a>
						</div>
						<div class="works__title">Organe</div>
						<div class="works__desc">Dessin crayon, encre - 2015</div>
					</div>
					<div class="works__right">
						<div class="wrapper">
							<a href="./projets/wings.html">
								<img
									src="../assets/images/previews/preview_wings.jpg"
									alt="Wings"
							/></a>
						</div>
						<div class="works__title">Wings</div>
						<div class="works__desc">Bois, filetages, écrous - 2020</div>
					</div>
				</div>
			</div>
			<!-- /works-container -->
			<div class="block-prefooter works">
				<div class="first-block">
					<div class="first-block__block-top">
						<div class="first-block__block-top__first">
							Vous avez un projet ?<span>Parlons-en</span>
						</div>
						<div class="first-block__block-top__second">
							Envoyez-moi<span>Un message</span>
						</div>
					</div>
					<div class="first-block__block-mail" id="containerMailToCopy">
						<span class="tooltiptext" id="tooltiptext">Copier l'email !</span>
						<div id="mailToCopy">marc.fontenelle.pro@gmail.com</div>
					</div>
				</div>
				<img
					class="prefooter-arrowtop"
					id="scrollTop"
					src="../assets/images/arrow-down.svg"
					alt=""
				/>
			</div>
			<!-- /block-prefooter" -->
			<footer>
				<nav>
					<ul class="nav-gauche">
						<li>
							<a
								target="_blank"
								href="https://www.instagram.com/marcfontenelle/"
								>Instagram</a
							>
						</li>
						<li>
							<a
								target="_blank"
								href="https://fr.linkedin.com/in/marc-fontenelle-15b6475a"
								>Linkedin</a
							>
						</li>
					</ul>
					<ul class="nav-droite">
						<li><a href="./about.html">à propos</a></li>
						<li><a href="./works.html">Projets</a></li>
						<li><a href="./contact.html">Contact</a></li>
						<li><a href="./archives.html">Archives</a></li>
					</ul>
				</nav>
				<p class="copyright">
					©<span id="yearDisplay"></span> – All rights reserved – MARC
					FONTENELLE
				</p>
			</footer>
			<!-- /footer -->
		</div>
	</body>
</html>
