.btn {
	border: 2px solid $text-color;
	background: none;
	// width: 150px;
	font-family: "GeneralSans-Variable", "Inter", arial, sans-serif;
	color: $text-color;
	border-radius: 50px;
	font-size: 15px;
	padding: 22px 37px;
	text-transform: uppercase;
	margin: 0 auto;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
	cursor: pointer;

	&.disabled-btn {
		cursor: wait;
		opacity: 0.5;
	}

	&.contact {
		width: 100%;
		margin: 10px 0 0 0;
		@media (min-width: $breakpoint-small) {
			width: 290px;
		}
	}

	&.mb {
		margin-bottom: 15vh;
	}
	&:hover {
		background: #1c1c1c;
	}
}
