// BURGER MENU
#menu-close,
#menu-open {
	&.active {
		display: block;
	}
	display: none;
}

.burger-container {
	z-index: 3;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 25px;
	right: -3px;
	align-items: center;
	cursor: pointer;
	span {
		font-weight: 500;
		margin-top: -5px;
		color: $text-color;
		font-size: 19px;
		margin-right: 5px;
	}
	@media (min-width: $breakpoint-large) {
		display: none;
	}
}
#burger {
	width: 35px;
	height: 35px;
	z-index: 1;
}
.icon {
	height: 2px;
	width: 25px;
	top: 12px;
	left: 5px;
	background-color: $text-color;
	position: relative;
	transition-duration: 0.4s;
	&:after {
		left: 0;
		position: absolute;
		top: 8px;
		height: 2px;
		width: 25px;
		background-color: $text-color;
		content: "";
		transition-duration: 0.4s;
	}
}
.menu {
	width: 80px;
	height: 80px;
	position: relative;
	transition-duration: 0.6s;
	display: inline-block;
	margin: 40px;
	cursor: pointer;
}
.burger2 {
	margin: 0 auto;
	text-align: center;
	.icon {
		transition-duration: 0.4s;
		// transition-delay: 0.4s;
		&:after {
			transition:
				transform 0.4s,
				top 0.4s 0s;
		}
	}
}
.burger2.open .icon {
	transition:
		top 0.4s,
		transform 0.4s 0.4s;
	top: 45%;
}
.burger2.open .icon:after {
	transition:
		top 0.4s,
		transform 0.4s 0.4s;
	top: 0px;
}

// FIN BURGER MENU
