footer {
	nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		.nav-gauche {
			width: 24%;
			justify-content: flex-start;
			li {
				margin-right: 40px;
				a {
					font-size: 13px;
					@media (min-width: $breakpoint-large) {
						font-size: 16px;
					}
				}
			}
		}
		.nav-droite {
			width: 45%;
			display: none;
			@media (min-width: $breakpoint-large) {
				display: flex;
			}
		}

		ul {
			display: flex;
			justify-content: space-between;
			li {
				display: flex;
				align-items: center;
				a {
					font-weight: 600;
					font-size: 16px;
					display: block;
					text-transform: uppercase;
					color: $text-color;
					text-decoration: none;
					// letter-spacing: 4px;
					opacity: 0.75;
					position: relative;
					padding: 20px 0px;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
	.copyright {
		font-weight: 600;
		font-size: 10px;
		line-height: 1.2em;
		color: $grey;
		display: block;
		text-transform: uppercase;
		margin: 30px 0 20px 0;
		text-decoration: none;
		// letter-spacing: 1px;
		@media (min-width: $breakpoint-large) {
			font-size: 13px;
		}
		#yearDisplay {
			display: inline-block;
		}
	}
}
