<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Marc Fontenelle - Artiste, Sculpteur -- Sculpture portable"
		/>
		<meta name="author" content="MF" />
		<link rel="icon" type="image/png" href="../../assets/images/favicon.png" />
		<link rel="stylesheet" href="../../assets/css/reset.css" />
		<link rel="stylesheet" href="../../assets/css/style.css" />

		<script src="../../assets/js/index.js"></script>

		<title>Marc Fontenelle - Sculpture portable</title>
	</head>
	<body>
		<div class="menu-left" id="menu-left">
			<div class="container content">
				<header>
					<a href="../../index.html" class="logo">
						<img
							src="../../assets/images/logo.svg"
							alt="Logo Marc Fontenelle"
						/>
					</a>
					<nav>
						<ul>
							<li><a href="../about.html">à propos</a></li>
							<li><a href="../works.html">Projets</a></li>
							<li><a href="../contact.html">Contact</a></li>
							<li><a href="../archives.html">Archives</a></li>
						</ul>
					</nav>
				</header>

				<div class="container-foot-mobile">
					<div class="block-prefooter">
						<div class="first-block">
							<div class="first-block__block-top">
								<div class="first-block__block-top__first">
									Vous avez un projet ?<span>Parlons-en</span>
								</div>
							</div>
							<div class="first-block__block-mail">
								marc.fontenelle.pro@gmail.com
							</div>
						</div>
					</div>
					<footer>
						<nav>
							<ul class="nav-gauche">
								<li>
									<a
										target="_blank"
										href="https://www.instagram.com/marcfontenelle/"
										>Instagram</a
									>
								</li>
								<li>
									<a
										target="_blank"
										href="https://fr.linkedin.com/in/marc-fontenelle-15b6475a"
										>Linkedin</a
									>
								</li>
							</ul>
						</nav>
						<p class="copyright">
							©<span id="yearDisplay2"></span> – All rights reserved – MARC
							FONTENELLE
						</p>
					</footer>
				</div>
			</div>
		</div>
		<!-- /menu left -->
		<div class="container">
			<div class="intro-container">
				<header>
					<a href="../../index.html" class="logo">
						<img
							src="../../assets/images/logo.svg"
							alt="Logo Marc Fontenelle"
						/>
					</a>

					<nav>
						<ul>
							<li><a href="../about.html">à propos</a></li>
							<li><a href="../works.html">Projets</a></li>
							<li><a href="../contact.html">Contact</a></li>
							<li><a href="../archives.html">Archives</a></li>
						</ul>
					</nav>
				</header>

				<div class="burger-container" id="burger-container">
					<span id="menu-open" class="active"></span>
					<span id="menu-close"></span>
					<div class="burger2 menu" id="burger">
						<div class="icon"></div>
					</div>
				</div>
			</div>
			<!-- /intro-container -->
			<div class="works-container work-single">
				<div class="bloc-pre-detail">
					<div class="title-project" id="title-project">Sculpture portable</div>

					<div class="bloc-pre-detail__bloc2">
						<div class="desc-project">
							Marc Fontenelle. 2003, Faience émaillée céladon 60x40cm.
						</div>
						<a href="../works.html" class="back-link"
							>Retour aux <span>projets</span></a
						>
					</div>
				</div>

				<div class="img-project">
					<img
						src="../../assets/images/works/sculpture-portable/sculpture-portable.jpg"
						alt="Sculpture portable"
					/>
				</div>
			</div>
			<!-- /works-container -->

			<div class="random-work">
				<a href="" class="right-txt" id="random-project-link">Projet Suivant</a>
				<a href="" class="left-txt" id="random-project">Title next work</a>
			</div>
			<div class="block-prefooter works">
				<div class="first-block">
					<div class="first-block__block-top">
						<div class="first-block__block-top__first">
							Vous avez un projet ?<span>Parlons-en</span>
						</div>
						<div class="first-block__block-top__second">
							Envoyez-moi<span>Un message</span>
						</div>
					</div>
					<div class="first-block__block-mail" id="containerMailToCopy">
						<span class="tooltiptext" id="tooltiptext">Copier l'email !</span>
						<div id="mailToCopy">marc.fontenelle.pro@gmail.com</div>
					</div>
				</div>
				<img
					class="prefooter-arrowtop"
					id="scrollTop"
					src="../../assets/images/arrow-down.svg"
					alt=""
				/>
			</div>
			<!-- /block-prefooter" -->
			<footer>
				<nav>
					<ul class="nav-gauche">
						<li>
							<a
								target="_blank"
								href="https://www.instagram.com/marcfontenelle/"
								>Instagram</a
							>
						</li>
						<li>
							<a
								target="_blank"
								href="https://fr.linkedin.com/in/marc-fontenelle-15b6475a"
								>Linkedin</a
							>
						</li>
					</ul>
					<ul class="nav-droite">
						<li><a href="../about.html">à propos</a></li>
						<li><a href="../works.html">Projets</a></li>
						<li><a href="../contact.html">Contact</a></li>
						<li><a href="../archives.html">Archives</a></li>
					</ul>
				</nav>
				<p class="copyright">
					©<span id="yearDisplay"></span> – All rights reserved – MARC
					FONTENELLE
				</p>
			</footer>
			<!-- /footer -->
		</div>
	</body>
</html>
